.button {
  border: 0;
  cursor: pointer;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1rem;

  font-size: 0.875rem;
  font-weight: bold;
}

.button svg {
  margin-left: 0.5rem;
  color: var(--gray-100);
}
