.mainWrapper {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: calc(0px - 3.315rem + 26.5px);
}

.inputWrapper {
  display: flex;
  flex-direction: row;
}

.input {
  border-radius: 8px;
  margin-right: 0.5rem;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  color: var(--gray-100);

  flex: 1;
}

.button {
  border: 0;
  border-radius: 8px;
  cursor: pointer;

  background: var(--blue-dark);
  color: var(--gray-100);

  display: flex;
  align-items: center;

  padding: 0 1rem;

  font-size: 0.875rem;
  font-weight: bold;
}

.button svg {
  margin-left: 0.5rem;
  color: var(--gray-100);
}

.button:hover {
  opacity: 0.8;
}

.mainContent {
  margin-top: 4rem;
}

.mainContentHeader {
  flex-direction: row;
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.headerInfoLeft,
.headerInfoRight {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.headerInfoLeft p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: bold;

  margin-right: 0.5rem;
}

.headerInfoRight p {
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: bold;

  margin-right: 0.5rem;
}

.headerInfoLeft span,
.headerInfoRight span {
  background: var(--gray-400);
  color: var(--gray-200);
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  border-radius: 999px;
}
