.itemContainer {
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemContainer + .itemContainer {
  margin-top: 0.75rem;
}

.itemContent {
  flex-direction: row;
  display: flex;
  align-items: flex-start;

  margin-right: 0.75rem;
}

.itemContent input[type="checkbox"] {
  margin-right: 1rem;

  -webkit-appearance: none;
  background: transparent;
  border: 1px solid var(--blue);

  width: 1rem;
  height: 1rem;

  border-radius: 8px;

  display: inline-block;
  position: relative;
}

.itemContent input[type="checkbox"]:checked:after {
  content: "\2713";
  left: 1px;
  top: -2px;

  position: absolute;

  font-size: 14px;
}

.itemContent input[type="checkbox"]:checked {
  background: var(--purple-dark);
  border: 1px solid var(--purple-dark);
  color: var(--gray-100);
}

.itemContent input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}

.itemContent label {
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--gray-100);

  text-align: justify;

  display: flex;
}

.itemDelete button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.itemDelete button svg {
  color: var(--gray-300);
}
